<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ccko.mhtplus" >

    <!-- Required for network access -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="MHT+"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >

        <!-- FileProvider for secure file sharing and handling incoming file URIs -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- Main browser activity (launcher). Also accepts VIEW intents for .mht files and common MHTML MIME types -->
        <activity
            android:name=".BrowserActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Accept file:// URIs with .mht extension -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.mht" />
            </intent-filter>

            <!-- Accept common MHTML MIME types -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="multipart/related" />
                <data android:mimeType="message/rfc822" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>
        </activity>

        <!-- Library activity: lists saved MHT archives -->
        <activity
            android:name=".LibraryActivity"
            android:exported="true" />
    </application>

</manifest>
